aside {
  width: 320px;
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 20px 30px;
}

aside strong {
  font-size: 20px;
  text-align: center;
  display:block;
  color: #333;
}